$spacer: 3rem;
$breadcrumb-divider: quote('\2039');
$primary: #62a0e0;
$font-size-base: 1.2rem;
$h5-font-size: 1.4rem;

$max-body-width: 1280px;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import './vendor/bootstrap-4.3.1/bootstrap';
@import './bootstrap-overrides';
@import './vendor/material-design-icons-2.2.0/material-icons';

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	font-family: $font-family-base;
	background-color: #ffffff;
}

.bg-theme-gradient {
	background: linear-gradient(90deg, #84baf3 0%, #33d6ca 100%);
}

.bg-theme {
	background-color: #84baf3;
}

.icon-button {
	border: none;
	background-color: transparent;
	padding: 0;
	width: 2.4rem;
	height: 2.4rem;
	font-size: 1.6rem;
	position: relative;
	color: $gray-600;

	.button {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 100%;
		color: $gray-600;
	}
}

#header-body {
	max-width: $max-body-width;
	margin-left: auto;
	margin-right: auto;
}

#content {
	font-size: 1.2rem;
	position: relative;
	top: -4.8rem;
}

#breadcrumbs {
	max-width: $max-body-width;
	margin-left: auto;
	margin-right: auto;
}

#content-body {
	max-width: $max-body-width;
	margin-left: auto;
	margin-right: auto;
}

.category {
	.info {
		flex: 1 1 auto;
		min-width: 12rem;
	}

	.metrics-item {
		width: $spacer * 3;
		min-width: $spacer * 3;
	}

	.latest-message {
		width: 24rem;
		padding-left: $spacer;
		padding-right: $spacer;
		min-width: 18rem;
	}

	.actions {
		width: 7rem;
		padding-left: $spacer;
		padding-right: $spacer * 0.5;
	}

	.category-header {
		display: flex;
		flex-direction: row;
		align-items: center;

		.metrics-item {
			display: flex;
			justify-content: center;
			font-weight: 400;
		}

		.latest-message {
			font-weight: 400;
		}
	}

	.category-item {
		height: 7rem;

		display: flex;
		flex-direction: row;
		align-items: center;

		background-color: $white;
		padding: $spacer * 0.5;

		&:not(:last-child) {
			border-bottom: 1px solid $gray-200;
		}

		.info {
			display: flex;
			flex-direction: row;

			.icon {
				display: flex;
				align-items: center;

				font-size: 3rem;
				color: rgba(0, 0, 0, 0.1);
				padding-left: $spacer * 0.25;
				padding-right: $spacer * 0.75;
			}

			.title {
				display: flex;
				align-items: center;

				a {
					font-weight: 500;
					font-size: 1.5rem;
					color: $gray-600;
				}
			}

			.description {
				font-weight: 400;
				font-size: 1.2rem;
				color: $gray-600;
			}
		}

		.metrics {
			display: flex;
			flex-direction: row;

			.metrics-item {
				color: rgba(0, 0, 0, 0.7);

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				font-size: 1.4rem;
			}
		}

		.latest-message {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			font-size: 1.2rem;
			color: rgba(0, 0, 0, 0.7);

			.latest-message-username {
				a {
					font-weight: 500;
				}
			}
		}

		.actions {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
	}
}

#messages {
	.header {
		font-weight: 400;
		font-size: 2.6rem;
	}

	.message-created-timestamp {
		line-height: 2.4rem;
	}

	.message-actions, .message-actions .form {
		display: flex;
		align-items: center;
	}

	.message-container:not(:first-child) {
		margin-top: 0.25 * $spacer;
	}

	.message-user-info {
		display: flex;
		justify-content: center;

		color: #cc5252;
		font-size: 1.6rem;
		max-width: 10rem;
		min-width: 5rem;
		width: 10rem;
		min-width: 10rem;
	}

	.message-text {
		white-space: pre-wrap;
	}
}

.management {
	.header {
		font-weight: 400;
		font-size: 2.6rem;
	}
}

.form-group.row {
	margin-left: 0;
	margin-right: 0;
	flex-wrap: nowrap;
	max-width: 45rem;

	.field-label {
		display: flex;
		flex: 0 0 20rem;
	}

	.field-input {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
	}
}

.section-header {
	height: 5rem;
	font-size: 1.4rem;
	font-weight: 500;
	color: $gray-600;
	border-bottom: 1px solid $gray-200;
}
