<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Forum{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="/static/css/default.css">
		{% endblock %}
		<script src="/static/js/vendor/jquery-3.4.1.min.js"></script>
		<script src="/static/js/vendor/moment.min.js"></script>
		<script src="/static/js/vendor/moment-timezone-with-data-10-year-range.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body class="bg-light">
		<div class="font-preload" style="opacity: 0">
			<span style="font-family: 'Material Design Icons'"></span>
		</div>
		{% block header %}
		<header id="header" class="navbar navbar-expand pb-5 bg-theme-gradient">
			<a class="navbar-brand" href="/">
				<i class="mdi mdi-home"></i>
				<label>Forum</label>
			</a>
			<ul class="navbar-nav ml-auto">
				{% if user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.logout') }}">
						<i class="mdi mdi-power-settings-new"></i>
						<label>Logout</label>
					</a>
				</li>
				{% else %}
				<li class="nav-item mr-1">
					<a class="nav-link" href="{{ url_for('auth.register') }}">
						<i class="mdi mdi-person-add"></i>
						<label>Register</label>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.login') }}">
						<i class="mdi mdi-power-settings-new"></i>
						<label>Login</label>
					</a>
				</li>
				{% endif %}
			</ul>
		</header>
		{% endblock %}
		<div id="content" class="ml-4 mr-4 bg-white">
			{% block contentheader %}{% endblock %}
			<div id="content-body" class="p-3 shadow-sm">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">{% block footer %}{% endblock %}</div>
		{% assets "js_all" %}
			<script src="{{ ASSET_URL }}"></script>
		{% endassets %}
	</body>
</html>