{% extends "base.html" %}
{% block contentheader %}
<nav id="breadcrumbs" class="mb-3 bg-white shadow-sm rounded-lg">
	<ol class="breadcrumb p-2 m-0 text-dark bg-transparent border-bottom border-light">
		{% block breadcrumbs %}
			<li class="breadcrumb-item">
				<a href="{{ url_for('topics.list') }}">
					<i class="mdi mdi-home"></i>
					<span>Board index</span>
				</a>
			</li>
			{% if topic %}
			<li class="breadcrumb-item">
				<a href="{{ url_for('threads.list', topic_id=topic.id) }}">
					<span>{{ topic.title }}</span>
				</a>
			</li>
			{% endif %}
			{% if thread %}
			<li class="breadcrumb-item">
				<a href="{{ url_for('messages.list', topic_id=topic.id, thread_id=thread.id) }}">
					<span>{{ thread.title }}</span>
				</a>
			</li>
			{% endif %}
		{% endblock %}
	</ol>
	<div class="p-2 text-muted">
		<span>It is currently</span>
		<span data-timestamp="now"></span>
	</div>
</nav>
{% endblock %}