{% extends "layout/base.html" %}
{% block content %}
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item bg-white shadow-sm rounded-lg mr-1">
			<a class="nav-link" href="{{ url_for('admin.users') }}">User management</a>
		</li>
		<li class="nav-item bg-white shadow-sm rounded-lg ml-1">
			<a class="nav-link" href="{{ url_for('admin.roles') }}">Role management</a>
		</li>
	</ul>
	<div class="rounded-lg overflow-hidden shadow-sm bg-white mt-2">
		<div class="section-header border-bottom border-light p-2">
			<span class="h5 text-muted">New Role</span>
		</div>
		{% from "macros.html" import render_field %}
		<form method="POST" class="form p-2">
			{{ form.csrf_token }}
			{{ render_field(form.name) }}
			<div class="form-group row">
				<div class="field-label"></div>
				<div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}