{% extends "base_breadcrumbs.html" %}
{% block content %}
	<ul class="nav nav-pills nav-justified">
		<li class="nav-item bg-white shadow-sm rounded-lg mr-1">
			<a class="nav-link" href="{{ url_for('admin.users') }}">User management</a>
		</li>
		<li class="nav-item bg-white shadow-sm rounded-lg ml-1">
			<a class="nav-link" href="{{ url_for('admin.roles') }}">Role management</a>
		</li>
	</ul>
	<div class="rounded-lg overflow-hidden shadow-sm bg-white mt-2">
		<div class="section-header border-bottom border-light p-2">
			<span class="h5 text-muted">Edit User</span>
		</div>
		{% from "forms/macros.html" import render_field %}
		<form method="POST" class="form p-2">
			{{ form.csrf_token }}
			{{ render_field(form.username, value=user.username) }}
			<div class="form-group row">
				<div class="field-label"></div>
				<div>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
		<div class="p-2">
			<div class="form-group row">
				<div class="field-label">Roles</div>
				<div class="field-input">
					{% if user.roles|length == 0 %}
						<div class="text-muted mb-2">No roles</div>
					{% else %}
						<ul class="list-group mb-2">
							{% for role in user.roles %}
								<li class="list-group-item d-flex">
									<div class="d-flex flex-grow-1 align-items-center">{{ role.name }}</div>
									<form method="POST" action="{{ url_for('admin.delete_user_role', id=user.id, role_id=role.id) }}" class="form d-flex align-items-center">
										{{ delete_role_form.csrf_token }}
										<button type="submit" class="icon-button" title="delete">
											<i class="button mdi mdi-delete"></i>
										</button>
									</form>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					<form method="POST" class="form-inline" action="{{ url_for('admin.add_user_role', id=user.id) }}">
						{{ role_form.csrf_token }}
						<div class="form-group mr-1 flex-grow-1">
							<div class="field-input">
								{{ role_form.role(class="form-control") }}
							</div>
						</div>
						<div class="form-group">
							<div class="field-label"></div>
							<div>
								<button type="submit" class="btn btn-primary">Add role</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}