{% extends "layout/base.html" %}

{% macro render_page_link(n, label) %}
	<a class="page-link" href="{{ url_for('admin.roles', page=n ) }}">
		{{label}}
	</a>
{% endmacro %}

{% block content %}
	<div class="management">
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item bg-white shadow-sm rounded-lg mr-1">
				<a class="nav-link" href="{{ url_for('admin.users') }}">User management</a>
			</li>
			<li class="nav-item bg-white shadow-sm rounded-lg ml-1">
				<a class="nav-link active" href="#">Role management</a>
			</li>
		</ul>
		<div class="rounded-lg overflow-hidden shadow-sm bg-white mt-2">
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Role</th>
							<th>Permissions</th>
							<th style="width: 10%">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for role in roles %}
							<tr>
								<td><div>{{ role.name }}</div></td>
								<td>
									<div class="flex-wrap">
										{% for permission in role.permissions %}
											<span class="mr-1">{{ permission.permission }}</span>
										{% endfor %}
									</div>
								</td>
								<td style="width: 10%">
									<div>
										<a href="{{ url_for('admin.edit_role', id=role.id) }}" class="icon-button mr-1" title="edit">
											<i class="button mdi">edit</i>
										</a>
										<form method="POST" action="{{ url_for('admin.delete_role', id=role.id) }}" class="form">
											{{ delete_role_form.csrf_token }}
											<button type="submit" class="icon-button" title="delete">
												<i class="button mdi">delete</i>
											</button>
										</form>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="p-2 d-flex justify-content-end">
					<div class="flex-grow-1">
						<a class="btn btn-primary" href="{{ url_for('admin.create_role') }}">New Role</a>
					</div>
					{% from 'macros.html' import render_pagination %}
					{{ render_pagination(total, page, page_size, render_page_link) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}