{% extends "layout/base.html" %}
{% block content %}
	<div class="management">
		<ul class="nav nav-pills nav-justified">
			<li class="nav-item bg-white shadow-sm rounded-lg mr-1">
				<a class="nav-link active" href="{{ url_for('admin.users') }}">User management</a>
			</li>
			<li class="nav-item bg-white shadow-sm rounded-lg ml-1">
				<a class="nav-link" href="{{ url_for('admin.roles') }}">Role management</a>
			</li>
		</ul>
		<div class="rounded-lg overflow-hidden shadow-sm bg-white mt-2">
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>User</th>
							<th>Roles</th>
							<th style="width: 10%">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td><div>{{ user.username }}</div></td>
								<td>
									{% for role in user.roles %}
										<div>{{ role.name }}</div>
									{% endfor %}
								</td>
								<td style="width: 10%">
									<div>
										{% if not user.username == 'admin' %}
										<a href="{{ url_for('admin.edit_user', id=user.id) }}" class="icon-button" title="edit">
											<i class="button mdi mdi-edit"></i>
										</a>
										{% endif %}
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="p-2 d-flex justify-content-end">
					<form method="GET" class="form-inline flex-grow-1">
						<div class="form-group mr-1">
							<div class="field-input">
								{{ search_users_form.search(class="form-control", placeholder="Username") }}
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Search</button>
						</div>
					</form>
					<ul class="pagination p-0 m-0">
						<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}