<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{% block title %}Forum{% endblock %}</title>
		{% block css %}
		<link rel="stylesheet" href="/static/css/default.css">
		{% endblock %}
		<script src="/static/js/vendor/jquery-3.4.1.min.js"></script>
		<script src="/static/js/vendor/moment.min.js"></script>
		<script src="/static/js/vendor/moment-timezone-with-data-10-year-range.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body class="bg-light">
		{% block header %}
		<header id="header" class="pb-5 bg-theme-gradient">
			<div id="header-body" class="navbar navbar-expand pl-0 pr-0">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="navbar-brand" href="/">
							<i class="mdi mdi-home"></i>
							<span>Forum</span>
						</a>
					</li>
					{% if current_user.has('roles:manage') %}
						<li class="nav-item">
							<a class="navbar-brand" href="{{ url_for('admin.users') }}">
								<i class="mdi mdi-build"></i>
								<span>Admin</span>
							</a>
						</li>
					{% endif %}
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('auth.logout') }}">
							<i class="mdi mdi-power-settings-new"></i>
							<span>Logout</span>
						</a>
					</li>
					{% else %}
					<li class="nav-item mr-1">
						<a class="nav-link" href="{{ url_for('auth.register') }}">
							<i class="mdi mdi-person-add"></i>
							<span>Register</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('auth.login') }}">
							<i class="mdi mdi-power-settings-new"></i>
							<span>Login</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</header>
		{% endblock %}
		<div id="content" class="ml-4 mr-4">
			<nav id="breadcrumbs" class="mb-3 bg-white shadow-sm rounded-lg">
				<ol class="breadcrumb p-2 m-0 text-dark bg-transparent border-bottom border-light">
					{% block breadcrumbs %}
						<li class="breadcrumb-item">
							<a href="{{ url_for('topics.list') }}">
								<i class="mdi mdi-home"></i>
								<span>Board index</span>
							</a>
						</li>
						{% if topic %}
						<li class="breadcrumb-item">
							<a href="{{ url_for('threads.list', topic_id=topic.id) }}">
								<span>{{ topic.title }}</span>
							</a>
						</li>
						{% endif %}
						{% if thread %}
						<li class="breadcrumb-item">
							<a href="{{ url_for('messages.list', topic_id=topic.id, thread_id=thread.id) }}">
								<span>{{ thread.title }}</span>
							</a>
						</li>
						{% endif %}
					{% endblock %}
				</ol>
				<div class="p-2 text-muted d-flex">
					<div class="flex-grow-1">
						{% if current_user.is_authenticated %}
							<span>Logged in as {{ current_user.username }}</span>
						{% else %}
							<span>Not logged in</span>
						{% endif %}
					</div>
					<div>
						<span>It is currently</span>
						<span data-timestamp="now"></span>
					</div>
				</div>
			</nav>
			<div id="content-body">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">{% block footer %}{% endblock %}</div>
		{% assets "js_all" %}
			<script src="{{ ASSET_URL }}"></script>
		{% endassets %}
	</body>
</html>