{% extends "layout/base.html" %}
{% block content %}
	<div class="rounded-lg overflow-hidden shadow-sm bg-white">
		<div class="section-header border-bottom border-light p-2">
			<span class="h5 text-muted">New Thread</span>
		</div>
		{% from "macros.html" import render_field %}
		<form method="POST" class="form p-2">
			{{ form.csrf_token }}
			{{ render_field(form.title, label=False, placeholder='Title') }}
			{{ render_field(form.text, label=False, rows='6', placeholder='Message') }}
			<div class="form-group">
				{{ form.submit(class='btn btn-primary') }}
			</div>
		</form>
	</div>
{% endblock %}