{% extends "base_breadcrumbs.html" %}
{% block content %}
	<div id="threads" class="category rounded-lg overflow-hidden shadow-sm bg-white">
		<div class="category-header section-header p-2 text-muted">
			<div class="info">Threads</div>
			<div class="metrics-item">Messages</div>
			<div class="latest-message">Last message</div>
			{% if current_user.has('threads:edit') %}
				<div class="actions"></div>
			{% endif %}
		</div>
		{% for thread in threads %}
			<div class="category-item">
				<div class="info">
					<div class="icon">
						<i class="mdi mdi-folder-open"></i>
					</div>
					<div class="title">
						<a href="{{ url_for('messages.list', topic_id=topic.id, thread_id=thread.id) }}">
							{{ thread.title }}
						</a>
					</div>
				</div>
				<div class="metrics">
					<div class="metrics-item">{{ thread.total_messages() }}</div>
				</div>
				<div class="latest-message">
					{% set message = thread.latest_message() %}
					{% if message %}
						<div class="latest-message-username">
							by <a href="#">{{ message.user.username }}</a>
						</div>
						<div class="latest-message-timestamp" data-timestamp="{{ message.created_at }}"></div>
					{% else %}
						<div>No messages</div>
					{% endif %}
				</div>
				{% if current_user.has('threads:edit') %}
					<div class="actions">
						<a href="{{ url_for('threads.edit', topic_id=topic.id, id=thread.id) }}" class="icon-button" title="edit">
							<i class="button mdi mdi-edit"></i>
						</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	{% if current_user.is_authenticated %}
		<a class="btn btn-primary mt-3" href="{{ url_for('threads.create', topic_id=topic.id) }}">New Thread</a>
	{% endif %}
{% endblock %}