{% extends "layout/base.html" %}
{% block content %}
	<div id="threads" class="category rounded-lg overflow-hidden shadow-sm bg-white">
		<table>
			<thead>
				<tr class="category-header section-header">
					<th class="info" role="heading" aria-level="1">Threads</td>
					<th class="metrics-item">Messages</td>
					<th class="latest-message">Last message</td>
					{% if current_user.has('threads:edit') %}
						<th class="actions"></td>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for thread in threads %}
					<tr class="category-item">
						<td class="info">
							<div class="d-flex align-items-center">
								<i class="icon mdi mdi-folder-open"></i>
								<div class="title">
									<a href="{{ url_for('messages.list', topic_id=topic.id, thread_id=thread.id) }}">
										{{ thread.title }}
									</a>
								</div>
							</div>
						</td>
						<td class="metrics-item">{{ thread.total_messages() }}</td>
						<td class="latest-message">
							{% set message = thread.latest_message() %}
							{% if message %}
								<div class="latest-message-username">
									by
									{% if message.user %}
										<a href="#">{{ message.user.username }}</a>
									{% else %}
										deleted
									{% endif %}
								</div>
								<div class="latest-message-timestamp" data-timestamp="{{ message.created_at }}"></div>
							{% else %}
								<div>No messages</div>
							{% endif %}
						</td>
						{% if current_user.has('threads:edit') or current_user.has('threads:delete') %}
							<td class="actions">
								<div class="d-flex align-items-center">
									{% if current_user.has('threads:edit') %}
										<a href="{{ url_for('threads.edit', topic_id=topic.id, id=thread.id) }}" class="icon-button" title="edit">
											<i class="button mdi mdi-edit"></i>
										</a>
									{% endif %}
									{% if current_user.has('threads:delete') %}
										<form method="POST" action="{{ url_for('threads.delete', topic_id=topic.id, id=thread.id) }}" class="form-inline ml-1">
											{{ delete_form.csrf_token }}
											<button type="submit" class="icon-button" title="delete">
												<i class="button mdi mdi-delete"></i>
											</button>
										</form>
									{% endif %}
								</div>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if current_user.is_authenticated %}
		<a class="btn btn-primary mt-3" href="{{ url_for('threads.create', topic_id=topic.id) }}">New Thread</a>
	{% endif %}
{% endblock %}