{% extends "base_breadcrumbs.html" %}
{% block content %}
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
		</div>
	{% endfor %}
	<div class="rounded-lg overflow-hidden shadow-sm bg-white">
		<div class="section-header border-bottom border-light p-2">
			<span class="h5 text-muted">Login</span>
		</div>
		{% from "forms/macros.html" import render_field %}
		<form method="POST" class="form p-2">
			{{ form.csrf_token }}
			{{ render_field(form.username) }}
			{{ render_field(form.password) }}
			<div class="form-group row">
				<div class="field-label"></div>
				<div>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}