{% extends "base_breadcrumbs.html" %}
{% block content %}
	<div id="topics" class="category rounded-lg overflow-hidden shadow-sm bg-white">
		<table>
			<thead>
				<tr class="category-header section-header">
					<th class="info">Topics</div>
					<th class="metrics-item">Threads</div>
					<th class="metrics-item">Messages</div>
					<th class="latest-message">Last message</div>
					{% if current_user.has('topics:edit') %}
						<th class="actions"></div>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for topic in topics %}
					<tr class="category-item">
						<td class="info">
							<div class="d-flex align-items-center">
								<i class="icon mdi mdi-folder-open"></i>
								<div>
									<div class="title">
										<a href="{{ url_for('threads.list', topic_id=topic.id) }}">{{ topic.title }}</a>
									</div>
									<div class="description">{{ topic.description }}</div>
								</div>
							</div>
						</td>
						<td class="metrics-item">{{ topic.total_threads() }}</td>
						<td class="metrics-item">{{ topic.total_messages() }}</td>
						<td class="latest-message">
							{% set message = topic.latest_message() %}
							{% if message %}
								<div class="latest-message-username">
									by <a href="#">{{ message.user.username }}</a>
								</div>
								<div class="latest-message-timestamp" data-timestamp="{{ message.created_at }}"></div>
							{% else %}
								<div>No messages</div>
							{% endif %}
						</td>
						{% if current_user.has('topics:edit') %}
							<td class="actions">
								<a href="{{ url_for('topics.edit', id=topic.id) }}" class="icon-button" title="edit">
									<i class="button mdi mdi-edit"></i>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% if current_user.has('topics:create') %}
		<a class="btn btn-primary mt-3" href="{{ url_for('topics.create') }}">New Topic</a>
	{% endif %}
{% endblock %}