{% extends "base_default.html" %}
{% block content %}
	<div id="topics" class="category rounded-lg overflow-hidden shadow-sm">
		<div class="header p-2 bg-theme text-white">Topics</div>
		<div class="body p-2 bg-light">
			{% for topic in topics %}
				<div class="category-item p-2 bg-white shadow-sm">
					<div class="category-display">
						<div class="category-display-title">
							<a href="{{ url_for('threads.list', topic_id=topic.id) }}">{{ topic.title }}</a>
						</div>
						<div class="category-display-description">
							{{ topic.description }}
						</div>
					</div>
					{% if user %}
					<div class="category-actions">
						<a href="topics/{{ topic.id }}/edit" class="icon-button mr-1" title="edit">
							<i class="button mdi mdi-edit"></i>
						</a>
					</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% if user %}
		<a href="{{ url_for('topics.create') }}">New Topic</a>
	{% endif %}
{% endblock %}